 *{
    margin: 0;
    padding: 0;
 }
    body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgb(0 0 0 / 54%), rgba(0, 0, 0, 100)), url(../images/winstar_bg.jpg);
    width: 100%;
    min-height: 150vh;
}   
.main {
    width: 400px;
    min-height: 95%;
    position: absolute;
    top: 50%;
    left: 51%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    background:  #242533;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 20%), 0 15px 40px 0 rgb(0 0 0 / 19%);
}
form {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 30px;
    margin-top: 30%;
}
  
.box input[ type ="text"],.box input[ type ="password"]{
    width: 340px;
    height: 50px;
    border: 0;
    background: #36384d;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0 0 15px 50px;
    margin-left: 40px;
}
.box input[ type ="CodeNUmber"],.box input[ type ="CodeNumber"]{
    width: 170px;
    height: 50px;
    border: 0;
    background: #36384d;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0 0 15px 50px;
    margin-left:  55%;
}
.box input [type ="button"],.box input[type ="button"]{
    width: 330px;
    height: 50px;
    border: 0;
    background: #bd9444;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0 0 15px 50px;
    color: white;
}
.box input [type ="register-button"],.box input[type ="register-button"]{
    width: 330px;
    height: 50px;
    border: 0;
    background: #36384d;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0 0 15px 50px;
}

.navbar img{
    width: 35%;
    margin-left: .5%;
    position: relative;
}
.navbar{
    justify-content: center;
    align-items: center;
    display: flex;
}
.col-1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 110px;
    margin-right: 160px;
}
