*{
    padding: 0;
    margin: 0;
}
.navigation-section {
    height: 90px;
    background: #221c14;
    overflow: hidden;
    border-bottom: 1px solid rgba(165, 168, 178, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}


.navigation-section #brand-area {
    padding: 0px 45px;
}
.container {
    width: 1600px;
    margin: auto;
}
#top-menu-options {
    height: 50%;
    width: 70%;
    position: relative;
    color: white;
}
#top-menu-options .section-content .section-title {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
#top-menu-options .section-content {
    display: block;
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-weight: 600;
    font-size: 12px;

}
#top-menu-options .section-content .section-title {
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.section-content ul {
    margin-top: 5%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 26%;
    color: orange;
}
.user-notes {
    cursor: pointer;
}

.section-content ul li {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
    font-size: 14px;
}

